<div
  class="container d-flex flex-column flex-lg-row mt-3 mt-lg-5 shadow-lg"
  id="fact-section"
>
  <div class="d-none d-lg-inline col-lg-6">
    <img
      src="../../assets/images/speaker-5.jpg"
      alt="image"
      class="img-fluid"
    />
  </div>
  <div class="d-flex justify-content-center align-items-lg-center flex-column">
    <p>
      <span class="fw-light fs-2 me-3">Fun</span
      ><span class="fw-bold fs-1">Fact</span>
    </p>
    <p class="fs-5 fw-lighter">
      Far far away, behind the word mountains, far from the countries Vokalia
      and Consonantia
    </p>
    <div class="row mt-lg-3 col-lg-6">
      <div class="col-12 col-lg-6">
        <div class="fun-fact-box">
          <p class="fact-number">30</p>
          <p class="fact-description">Speakers</p>
        </div>
      </div>
      <div class="col-12 col-lg-6">
        <div class="fun-fact-box">
          <p class="fact-number">100</p>
          <p class="fact-description">Sponsor</p>
        </div>
      </div>
    </div>
    <div class="row mt-lg-3 col-lg-6">
      <div class="col-12 col-lg-6">
        <div class="fun-fact-box">
          <p class="fact-number">2500+</p>
          <p class="fact-description">Seats</p>
        </div>
      </div>
      <div class="col-12 col-lg-6">
        <div class="fun-fact-box">
          <p class="fact-number">24+</p>
          <p class="fact-description">Topics</p>
        </div>
      </div>
    </div>
  </div>
</div>
