<div id="faqs-section" class="mt-3 mt-lg-5">
  <div class="container shadow-lg p-5">
    <p class="fs-1 text-center fst-italic fw-bold mb-3 mb-lg-5">
      <span class="border-bottom border-warning border-3">FAQs</span>
    </p>
    <div
      class="d-flex flex-column flex-lg-row gap-5 justify-content-center align-items-center"
    >
      <div class="col-12 col-lg-5">
        <div class="accordion" id="accordionExample">
          <div class="accordion-item">
            <h2 class="accordion-header">
              <button
                class="accordion-button"
                type="button"
                data-bs-toggle="collapse"
                data-bs-target="#collapseOne"
                aria-expanded="true"
                aria-controls="collapseOne"
              >
                What is EvenTalks?
              </button>
            </h2>
            <div
              id="collapseOne"
              class="accordion-collapse collapse show"
              data-bs-parent="#accordionExample"
            >
              <div class="accordion-body">
                Every year, Darshan University-Rajkot used to organise a State
                Level Technical Symposium under the name "Frolic". It is
                organised every year in the month of September. Frolic is a
                series of technical and non-technical competitions and events
                covering all areas of engineering, science, and management. The
                attraction of this event is that it covers many technical and
                entrepreneurship events, where students from various institutes
                come up with their innovative ideas, take part, win and are
                motivated by rewards.
              </div>
            </div>
          </div>
          <div class="accordion-item">
            <h2 class="accordion-header">
              <button
                class="accordion-button collapsed"
                type="button"
                data-bs-toggle="collapse"
                data-bs-target="#collapseTwo"
                aria-expanded="false"
                aria-controls="collapseTwo"
              >
                What is the registration fee?
              </button>
            </h2>
            <div
              id="collapseTwo"
              class="accordion-collapse collapse"
              data-bs-parent="#accordionExample"
            >
              <div class="accordion-body">
                There are no registration charges for any technical event.
              </div>
            </div>
          </div>
          <div class="accordion-item">
            <h2 class="accordion-header">
              <button
                class="accordion-button collapsed"
                type="button"
                data-bs-toggle="collapse"
                data-bs-target="#collapseThree"
                aria-expanded="false"
                aria-controls="collapseThree"
              >
                Will I get a certificate for participation?
              </button>
            </h2>
            <div
              id="collapseThree"
              class="accordion-collapse collapse"
              data-bs-parent="#accordionExample"
            >
              <div class="accordion-body">
                All participants who successfully take part in any technical
                events and satisfy eligibility criteria (if any) are eligible
                for a participation certificate. Note that the winner will get a
                rank certificate in a hard copy and not a participation
                certificate. Also refer individual event rules.
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="col-12 col-lg-5">
        <div class="accordion" id="accordionExample">
          <div class="accordion-item">
            <h2 class="accordion-header">
              <button
                class="accordion-button"
                type="button"
                data-bs-toggle="collapse"
                data-bs-target="#collapseFour"
                aria-expanded="true"
                aria-controls="collapseFour"
              >
                I am coming from another city. Will I get accommodation?
              </button>
            </h2>
            <div
              id="collapseFour"
              class="accordion-collapse collapse show"
              data-bs-parent="#accordionExample"
            >
              <div class="accordion-body">
                No overnight accommodation facilities will be provided to any
                participant. The participants coming from outstation can stay
                anywhere in Rajkot, though they can avail bus facilities from
                Rajkot city to the university campus as per the mentioned
                schedule and bus routes only. Refer general rules also.
              </div>
            </div>
          </div>
          <div class="accordion-item">
            <h2 class="accordion-header">
              <button
                class="accordion-button collapsed"
                type="button"
                data-bs-toggle="collapse"
                data-bs-target="#collapseFive"
                aria-expanded="false"
                aria-controls="collapseFive"
              >
                Is Food included in the registration fee?
              </button>
            </h2>
            <div
              id="collapseFive"
              class="accordion-collapse collapse"
              data-bs-parent="#accordionExample"
            >
              <div class="accordion-body">
                No free food facility is available, but participants can avail
                their lunch/breakfast from the canteen on a chargeable basis.
              </div>
            </div>
          </div>
          <div class="accordion-item">
            <h2 class="accordion-header">
              <button
                class="accordion-button collapsed"
                type="button"
                data-bs-toggle="collapse"
                data-bs-target="#collapseSix"
                aria-expanded="false"
                aria-controls="collapseSix"
              >
                How to reach the university campus?
              </button>
            </h2>
            <div
              id="collapseSix"
              class="accordion-collapse collapse"
              data-bs-parent="#accordionExample"
            >
              <div class="accordion-body">
                The participants from other institutes can also avail the bus
                facility provided by Darshan University on the day of an event
                only from the specific city mentioned in the confirmation email.
                As well, participants can directly come to the university campus
                with their institute I-card. RMTS bus facilities are also
                available. Check for RMTS bus routes.
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
