<div class="container mt-5 shadow-lg" id="rules-section">
  <h1 class="text-center">
    <span class="border-bottom border-2 border-warning-subtle"
      >General Rules</span
    >
  </h1>
  <ul class="list-group list-group-flush mt-4 fs-5">
    <li class="list-group-item">
      The consideration of event will be state-level event.
    </li>
    <li class="list-group-item">
      Every participant has to register through online mode only.
    </li>
    <li class="list-group-item">
      Offline registration is not entertained in any technical event.
    </li>
    <li class="list-group-item">
      The participant can take part in maximum 2 nos. of technical events.
    </li>
    <li class="list-group-item">
      All participants those who are qualified in registered event, will get
      certificate of participation.
    </li>
    <li class="list-group-item">
      The participant who ranked either 1 or 2, will only get certificate of
      winner or runners-up.
    </li>
    <li class="list-group-item">
      The participant has to arrange food on their own cost.
    </li>
    <li class="list-group-item">
      No registration Fees of participation for any event.
    </li>
    <li class="list-group-item">No TA/DA is arranged for participants.</li>
    <li class="list-group-item">
      The registration is on First come First Base.
    </li>
    <li class="list-group-item">
      The total nos. of group and individual participant numbers will be decided
      by respective event coordinators.
    </li>
    <li class="list-group-item">
      No any winner certificate provided for non-technical events.
    </li>
    <li class="list-group-item">
      The participant has to report at the registration desk on the day of event
      on or before mentioned registration time duration as per the schedule of
      event. Failing to this will lead towards disqualification from the event.
    </li>
    <li class="list-group-item">
      The winner has to collect certificate on the day of event only.
    </li>
    <li class="list-group-item">
      The participant will only get E-certificate for participation on their
      registered email id. In group event, certificate of participation will be
      received on team/group leader’s email id.
    </li>
    <li class="list-group-item">
      The participant may be disqualified from all the events due to
      disciplinary action by event convener if any.
    </li>
    <li class="list-group-item">
      In each event, decision of the Judge or the faculty coordinator will be
      final.
    </li>
    <li class="list-group-item">
      Event related any final decision will be taken by the event convener.
    </li>
    <li class="list-group-item">
      Overall final decision will be taken by the university management.
    </li>
    <li class="list-group-item">
      The confirmation for participation will be sent on participants/team
      leader’s registered email id the day before an event.
    </li>
  </ul>
</div>
