<div class="bg-custom">
  <div
    class="d-flex flex-column flex-lg-row justify-content-center align-items-lg-center container mt-5"
    id="venue-section"
  >
    <div
      class="col-12 col-lg-3 text-start d-flex flex-column justify-content-center align-items-lg-center mt-3"
    >
      <i class="fa-solid fa-location-dot fa-3x"></i>
      <p>venue</p>
      <p>Darshan University-Rajkot</p>
    </div>
    <div
      class="col-12 col-lg-3 text-start d-flex flex-column justify-content-center align-items-lg-center mt-3"
    >
      <i class="fa-solid fa-calendar fa-3x"></i>
      <p>Date</p>
      <p>December 09-12</p>
    </div>
    <div
      class="col-12 col-lg-3 text-start d-flex flex-column justify-content-center align-items-lg-center mt-3"
    >
      <i class="fa-solid fa-microphone fa-3x"></i>
      <p>Event</p>
      <p>24+ Events</p>
    </div>
    <div
      class="col-12 col-lg-3 text-start d-flex flex-column justify-content-center align-items-lg-center mt-3"
    >
      <i class="fa-solid fa-people-group fa-3x"></i>
      <p>Expected Participants</p>
      <p>1500+ Participation</p>
    </div>
  </div>
</div>
