<div
  class="container d-flex flex-column-reverse flex-lg-row bg-hero-custom rounded-2 mt-6 shadow-lg"
  id="hero-section"
>
  <div
    class="col-12 col-lg-6 d-flex flex-column justify-content-center align-items-center align-items-lg-start ms-lg-4"
  >
    <p class="fw-light text-hero-h1 text-center text-lg-start">
      Developer <br /><span class="fw-bolder text-hero-p">Conference 2023</span>
    </p>
    <p class="fs-5 fw-light">December 09-12, Rajkot, Gujarat</p>
    <!-- Timer Start -->
    <div class="d-flex gap-3 mt-3 fs-4 flex-column flex-lg-row text-center">
      <div class="timer-box">
        <span class="text-danger">{{ show_days }}</span>
        <p class="fw-lighter">Days</p>
      </div>
      <div class="timer-box">
        <span class="text-danger">{{ show_hours }}</span>
        <p class="fw-lighter">Hour</p>
      </div>
      <div class="timer-box">
        <span class="text-danger">{{ show_mins }}</span>
        <p class="fw-lighter">Mins</p>
      </div>
      <div class="timer-box">
        <span class="text-danger">{{ show_secs }}</span>
        <p class="fw-lighter">Secs</p>
      </div>
    </div>
    <!-- Timer End -->
  </div>
  <div class="col-12 col-lg-6">
    <img
      src="https://www.pngitem.com/pimgs/m/112-1127587_software-hire-developers-hd-png-download.png"
      alt=""
      class="img-fluid vw-100 h-auto"
    />
  </div>
</div>
